<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         colors="true"
         columns="max"
         beStrictAboutTestsThatDoNotTestAnything="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="Installers Test Suite">
            <directory suffix="Test.php">tests/NopeNopeNope/Composer</directory>
        </testsuite>
    </testsuites>

    <coverage includeUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/*</directory>
        </include>
    </coverage>

    <php>
        <ini name="date.timezone" value="Europe/Berlin"/>
        <ini name="xdebug.max_nesting_level" value="250"/>
    </php>
</phpunit>
